body{margin: 0; padding: 0; font-family: 'Quicksand', sans-serif; color: #fff; position: relative;}

a{color: #fff; transition: .4s linear;}
a:hover{color: #FFC576; text-decoration: none;}

.click-top { padding: 4px 10px; color: #FFC576; position: fixed; bottom: 15px; right: 15px; z-index: 9999; font-size: 20px; border: 1px solid #FFC576; border-radius: 50px; width: 40px; height: 40px; cursor: pointer; box-shadow: 0 1px 10px rgba(0, 0, 0, .2); display: none; transition: .3s linear;}
.click-top:hover{background: rgba(255, 197, 118, .1)}

.main-page{display: flex;}
.main-page .cont-layer{width: 95%; margin: 0 auto; text-align: left!important; position: relative; z-index: 999;}


.main-page .l-side{width: 300px; height: 100vh; position: fixed; top: 0; left: 0; background: #282C45; transition: .3s linear;}
.main-page .l-side.active{left: 0;}
.main-page .r-side{ padding-left: 300px; background: #1F2336;}
.main-page .r-side .layer{height: auto; display: flex; align-items: center; text-align: center; padding: 50px 0;}
.main-page .r-side .layer:nth-child(even){background: #21263a;}
.main-page .r-side .layer .cont-layer{padding: 0 30px;}

.main-page .l-side .header-profile{display: flex; flex-wrap: wrap; justify-content: center; padding-top: 30px;}
.main-page .l-side .header-profile .image{width: 150px; height: 150px; overflow: hidden; border-radius: 50%; border: 8px #FFC576 solid; margin-bottom: 20px; background-color: #EDEFFF;}
.main-page .l-side .header-profile .image img{ object-fit: cover; height: 100%; width: 100%;}
.main-page .l-side .header-profile h2{font-family: 'Playfair Display', serif; font-size: 30px;}
.main-page .l-side .header-profile h3{color: #FFC576; font-size: 16px;}
.main-page .l-side .header-profile .social{display: block; width: 100%; text-align: center;}
.main-page .l-side .header-profile .social a img{width: 22px; margin: 0 5px;}

/* .main-page .l-side .header-profile .social i{font-size: 22px; margin: 5px;} */

.main-page .l-side .nav{ display: block; margin-top: 50px;}
.main-page .l-side .nav li{display: block; text-align: center;}
.main-page .l-side .nav li a:first-child{border-top: 1px #313552 solid;}
.main-page .l-side .nav li a{padding: 10px 15px; display: inline-block; border-right: 3px solid transparent; width: 100%; border-bottom: 1px #313552 solid; transition: .5s linear;}
.main-page .l-side .nav li.active a{ border-right-color: #FFC576; color: #FFC576;}

.r-side .layer-1{background: #1F2336 url(../images/object-1.png) no-repeat right bottom; background-attachment: fixed; position: relative; overflow: hidden;}

.r-side .layer-1 .object-animation img{position: absolute;}
/* Object 2 */
.r-side .layer-1 .object-animation .object-2{bottom: 100px; left: 150px; width: 100px; animation: obj-2 80s infinite linear; -webkit-animation: obj-2 80s infinite linear; -moz-animation: obj-2 80s infinite linear; transform-origin: center;}
@keyframes obj-2{ 100% {-webkit-transform: rotate(360deg); transform: 360deg;}}

/* Object 3 */
.r-side .layer-1 .object-animation .object-3{top: 100px; left: 20px; width: 150px;
animation: obj-3 80s infinite linear; -webkit-animation: obj-3 80s infinite linear; -moz-animation: obj-3 80s infinite linear;}
@keyframes obj-3{ 
    0% {left: 20px;}
    50%{left: 300px;}
    100%{left: 20px;}
}

.r-side .layer-1 .object-animation .object-4{top: 400px; right: 20px; width: 100px; animation: obj-4 200s infinite linear; -webkit-animation: obj-4 200s infinite linear; -moz-animation: obj-4 200s infinite linear;}
@keyframes obj-4{ 
    0% {right: 20px;}
    50%{right: 900px;}
    100%{right: 20px;}
}

.r-side .layer-1 .object-animation .object-5{top: 200px; right: 200px; animation: obj-5 80s infinite linear; -webkit-animation: obj-5 80s infinite linear; -moz-animation: obj-5 80s infinite linear;}
@keyframes obj-5{ 100% {-webkit-transform: rotate(360deg); transform: 360deg;}}

.r-side .layer-1 .object-animation .object-6{top: 300px; left: 200px; width: 20px;animation: obj-6 50s infinite linear; -webkit-animation: obj-6 50s infinite linear; -moz-animation: obj-6 50s infinite linear;}
@keyframes obj-6{ 
    0% {left: 200px; top: 300px;}
    50%{left: 500px; top: 800px;}
    100%{left: 200px; top: 300px;}
}

.r-side .layer-1 .object-animation .object-7{bottom: 200px; left: 500px; width: 20px; animation: obj-7 50s infinite linear; -webkit-animation: obj-7 50s infinite linear; -moz-animation: obj-7 50s infinite linear;}
@keyframes obj-7{ 
    0% {left: 500px; bottom: 300px;}
    50%{left: 800px;  bottom: 800px;}
    100%{left: 500px;  bottom: 300px;}
}

.r-side .layer-1 .object-animation .object-8{bottom: 200px; left: 400px;  animation: obj-8 50s infinite linear; -webkit-animation: obj-8 50s infinite linear; -moz-animation: obj-8 50s infinite linear;}
@keyframes obj-8{ 100% {-webkit-transform: rotate(360deg); transform: 360deg;}}

.r-side .layer-1 .object-animation .object-9{top: 50px; right: 400px; width: 100px; animation: obj-9 100s infinite linear; -webkit-animation: obj-9 100s infinite linear; -moz-animation: obj-9 100s infinite linear;}
@keyframes obj-9{ 
    0% {top: 50px;}
    50%{top: 800px;}
    100%{top: 50px;}
}


/*======== About me ========= */
.about-me{display: flex;}
.about-me .image-me{width: 50%; padding-right: 30px;}
.about-me .image-me img{object-fit: cover; width: 100%; height: 100%;}
.about-me .info-me{width: 50%;}
.about-me .info-me h3{text-transform: uppercase; color: #FFC576; font-size: 25px;}
.about-me .info-me .contract-me{font-size: 18px;}
.about-me .info-me .title-all{ padding-top: 0;}

.layer-3 .cont-layer{width: 800px; margin: auto;}
.layer-3 .cont-layer .cont-prog{position: relative; margin-top: 20px;}
.layer-3 .cont-layer .cont-prog .subject{margin-bottom: 10px;}
.layer-3 .cont-layer .progress{height: 7px; background: #313552;}
.layer-3 .cont-layer .progress .progress-bar{background: #FFC576; border-radius: 50px;}
.layer-3 .cont-layer .progress .num{position: absolute; right: 0; top:0px;}

/* ===== Time line ==== */
.time-line .a-line{ display: flex;}
.time-line .a-line .time:after{content: ""; background: #fff; width: 10px; height: 10px; position: absolute; border-radius: 50px; top: 20px; right: -5px;}
.time-line .a-line .time{width: 200px; text-align: right; padding: 15px 30px 15px 0; border-right: #FFF solid 1px; position: relative;}
.time-line .a-line .info-work{padding: 10px 0 25px 30px; width: calc( 100% - 200px);}
.time-line .a-line .info-work h3{text-transform: uppercase; font-size: 18px; color: #FFC576;}
.time-line .a-line .info-work h4{font: 18px 'Playfair Display', serif;}
.time-line .a-line .info-work p{ margin: 0; }


/* ==== Title All ===== */
.layer-3 .title-all, .layer-4 .title-all, .layer-5 .title-all{text-align: center;}
.title-all{ padding: 20px 0;}
.layer-3 .title-all{padding-top: 50px; padding-bottom: 0;} 
.title-all h2{ font: 45px 'Playfair Display', serif; font-weight: bold;}


/* ==== Header Mobile ==== */
.menu-mobile{
    position: fixed; top: 0; left: 0; padding: 15px; background: rgba(0, 0, 0, .7); z-index: 999999; transition: .3s linear; display: none;
}
.menu-mobile.active{left: 240px; background: transparent;}
/* ===  Menu hamburher toggle annimated ==== */
#nav-icon{ 
    width: 28px; height: 22px; position: relative;-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);  -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out;  transition: .5s ease-in-out; cursor: pointer; 
}

#nav-icon span { 
    display: block; position: absolute; height: 4px; width: 50%; background: #fff; opacity: 1; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;
}

#nav-icon span:nth-child(even) { left: 50%; border-radius: 0 9px 9px 0; }
#nav-icon span:nth-child(odd) { left:0px; border-radius: 9px 0 0 9px; }
#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) { top: 0px; }
#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) { top: 8px; }
#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) { top: 16px; }


#nav-icon.open span:nth-child(1), #nav-icon.open span:nth-child(6) { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
#nav-icon.open span:nth-child(2), #nav-icon.open span:nth-child(5) { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
#nav-icon.open span:nth-child(1) { left: 4px; top: 5px; }   
#nav-icon.open span:nth-child(2) { left: calc(50% - 3px); top: 5px; }          
#nav-icon.open span:nth-child(3) { left: -50%; opacity: 0; } 
#nav-icon.open span:nth-child(4) { left: 100%; opacity: 0; } 
#nav-icon.open span:nth-child(5) { left: 4px; top: 13px; }
#nav-icon.open span:nth-child(6) { left: calc(50% - 3px); top: 13px; }
/* ==== End - Menu hamburher toggle annimated ==== */


/* =============================
        PROJECT LIST
================================ */
.project-list .card{background: #313552; border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-bottom: 1px #FFC576 solid; margin-bottom: 30px;}
.project-list .card .card-img{overflow: hidden; border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
.project-list .card h5{font-size: 16px;}
.project-list .card .card-img img{transform: scale(1, 1); transition: .4s linear;}
.project-list .card .card-img:hover img{transform: scale(1.1, 1.1);}
.project-list .card .btn{background: transparent; border-radius: 0; border: 1px #FFC576 solid; color: #FFC576; transition: .2s linear;}
.project-list .card .btn:hover{background: rgba(255, 197, 118, .1);}

/* ===========================
    HOBBIES LIST
============================ */
.hobbies-list ul{display: flex; justify-content: space-between; padding: 0; align-items: flex-end;}
.hobbies-list ul li{list-style: none; text-align: center;}
.hobbies-list ul li img{width: 80px; margin-bottom: 20px;}

/* .hobbies-list ul li i{font-size: 70px; margin-bottom: 15px;} */
.hobbies-list ul li p{color: #FFC576;}

/*===================
    RESPONSIVE
===================*/
@media screen and (max-width: 1200px){
    .main-page .r-side .layer .cont-layer{width: 100%;}
    .about-me{flex-wrap: wrap;}
    .about-me .info-me .title-all{padding-top: 20px;}
    .about-me .image-me, .about-me .info-me{width: 100%; }
    .about-me .image-me{order: 2; padding-right: 0;}
}

@media screen and (max-width: 768px){
    .main-page .l-side{background: rgba(40, 44, 69, .99); z-index: 9999;}
    .main-page .r-side{padding-left: 0;}

    .menu-mobile{display: block;}
    .main-page .l-side{left: -300px;}

}

@media screen and (max-width: 500px){
    .time-line .a-line{display: block;}
    .time-line .a-line .time{width: 100%; border-right: none; border-left: 1px #fff solid; text-align: left; padding-left: 20px; padding-top: 30px;}
    .time-line .a-line .time:after{right: auto; left: -5px; top: 38px;}
    .time-line .a-line .info-work{width: 100%; border-left: 1px #fff solid; padding-bottom: 30px;}

    .hobbies-list ul{flex-wrap: wrap;}
    .hobbies-list ul li{display: inline-table; width: 25%; margin-bottom: 20px;}

    #l_two-edu .title-all{padding-left: 0!important;}
}

